@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@

<!-- Start Banner Area -->
<section class="banner-area f5f6fa-bg-color">
    <div class="container-fluid social">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-content">
                    <h1 class="wow fadeInLeft" data-wow-delay="0.3s">Study a recognized qualification with the online learning experts</h1>
                    <p class="wow fadeInLeft" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="courses.html" class="default-btn wow fadeInLeft" data-wow-delay="0.9s">
                        View Courses
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="banner-img wow fadeInRight" data-wow-delay="0.3s">
                    <img src="assets/img/banner-img/banner-img-1.jpg" alt="Image">
                </div>
            </div>
        </div>

        <!-- Start Social Wrap -->
        <ul class="social-wrap">
            <li class="follow-us">
                Follow Us:
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="bx bxl-linkedin"></i>
                </a>
            </li>
        </ul>
        <!-- End Social Wrap -->
    </div>
</section>
<!-- End Banner Area -->
<!-- Start Partner Area -->
<div class="partner-area f5f6fa-bg-color ptb-100">
    <div class="container">
        <div class="partner-wrap owl-theme owl-carousel">
            <div class="partner-item">
                <a href="#">
                    <img src="assets/img/partner-logo/partner-logo-1.png" alt="Image">
                </a>
            </div>

            <div class="partner-item">
                <a href="#">
                    <img src="assets/img/partner-logo/partner-logo-2.png" alt="Image">
                </a>
            </div>

            <div class="partner-item">
                <a href="#">
                    <img src="assets/img/partner-logo/partner-logo-3.png" alt="Image">
                </a>
            </div>

            <div class="partner-item">
                <a href="#">
                    <img src="assets/img/partner-logo/partner-logo-4.png" alt="Image">
                </a>
            </div>

            <div class="partner-item">
                <a href="#">
                    <img src="assets/img/partner-logo/partner-logo-5.png" alt="Image">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->
<!-- Start Who Are We Area -->
<section class="education-area ebeef5-bg-color">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="education-img">
                    <img src="assets/img/education-img.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="education-content ptb-100">
                    <span class="top-title">About Us</span>
                    <h2>Who Are <span>We</span>?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                    <ul>
                        <li>
                            <i class="bx bx-check"></i>
                            Unlimited everything
                        </li>
                        <li>
                            <i class="bx bx-check"></i>
                            No transaction fees
                        </li>
                        <li>
                            <i class="bx bx-check"></i>
                            No technical headaches
                        </li>
                        <li>
                            <i class="bx bx-check"></i>
                            World-class support from real people
                        </li>
                        <li>
                            <i class="bx bx-check"></i>
                            Free migrations
                        </li>
                    </ul>

                    <a href="/about" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Who Are We Area -->
<!-- Start Announcements Area -->
<section class="news-area f5f6fa-bg-color pt-100 pb-70">
    <div class="container text-center">
        <div class="section-title">
            <span>Announcements</span>
            <h2>Explore Recent Announcements</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="single-news">
                    <a href="single-blog.html">
                        <img src="assets/img/news-img/news-img-1.jpg" alt="Image">
                    </a>

                    <div class="news-content">
                        <span class="tag">Development</span>

                        <a href="single-blog.html">
                            <h3>What is lifelong learning and how could it help your learning?</h3>
                        </a>

                        <ul class="lessons">
                            <li>By: <a href="#">Admin</a></li>
                            <li class="float">Posted aon 13/07/2020</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row mb-30">
                    <div class="col-lg-4 col-sm-4 pr-0">
                        <div class="news-img bg-2"></div>
                    </div>

                    <div class="col-lg-8 col-sm-8 pl-0">
                        <div class="news-listing-content">
                            <span class="tag">Market Trends</span>

                            <a href="single-blog.html">
                                <h3>All aspire students are now student card eligible!</h3>
                            </a>

                            <ul class="lessons">
                                <li>By: <a href="#">Admin</a></li>
                                <li class="float">Posted on 12/07/2020</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-30">
                    <div class="col-lg-4 col-sm-4 pr-0">
                        <div class="news-img bg-3"></div>
                    </div>

                    <div class="col-lg-8 col-sm-8 pl-0">
                        <div class="news-listing-content">
                            <span class="tag">Research</span>

                            <a href="single-blog.html">
                                <h3>Determining the true goal of a good education is difficult.</h3>
                            </a>

                            <ul class="lessons">
                                <li>By: <a href="#">Admin</a></li>
                                <li class="float">Posted on 11/07/2020</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row r-p-mb">
                    <div class="col-lg-4 col-sm-4 pr-0">
                        <div class="news-img bg-4"></div>
                    </div>

                    <div class="col-lg-8 col-sm-8 pl-0">
                        <div class="news-listing-content">
                            <span class="tag">Career Advice</span>

                            <a href="single-blog.html">
                                <h3>Leading the way with lifelong learning</h3>
                            </a>

                            <ul class="lessons">
                                <li>By: <a href="#">Admin</a></li>
                                <li class="float">Posted on 10/07/2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="/announcements" class="default-btn">
            Read More
        </a>
    </div>
</section>
<!-- End Announcements Area -->
<!-- Start FAQ Area -->
<section class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="top-title">FAQ</span>
            <h2>Frequently asked  questions</h2>
        </div>

        <div class="faq-accordion">
            <ul class="accordion">
                <li class="accordion-item">
                    <a class="accordion-title active" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        How to register for a future learn account
                    </a>

                    <div class="accordion-content show">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        How to join a free course?
                    </a>

                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        How to start a course on Eduon?
                    </a>

                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        What time will my course start?
                    </a>

                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        Can i upgrade after i finish the course?
                    </a>

                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        I'm not great with technology- will i be able to learn online?
                    </a>

                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>

                <li class="accordion-item">
                    <a class="accordion-title" href="javascript:void(0)">
                        <i class="bx bx-plus"></i>
                        Can i extend my enrolment if i need more time?
                    </a>

                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat amet conse ctetur adipisicing elit, sed do aliqua. Ut enim ad minim.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container text-center pt-4">
        <a href="/faq" class="default-btn">
            Read More
        </a>
    </div>
</section>
<!-- End FAQ Area -->

@Html.RenderPartial("~/Views/Testimonials1.cshtml");

<!-- Start Enroll Area -->
<section class="enroll-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="enroll-wrap">
                    <form class="courses-form">
                        <span>Any Questions?</span>
                        <h3>Contact Us Now</h3>

                        <div class="form-group">
                            <input type="text" class="form-control" id="Name" placeholder="Your name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Your email">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="Number" placeholder="Phone Number">
                        </div>

                        <div class="form-group">
                            <select>
                                <option value="">Courses Type</option>
                                <option value="">Courses Type 1</option>
                                <option value="">Courses Type 2</option>
                                <option value="">Courses Type 3</option>
                                <option value="">Courses Type 4</option>
                                <option value="">Courses Type 5</option>
                                <option value="">Courses Type 6</option>
                            </select>
                        </div>

                        <button type="submit" class="default-btn">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="enroll-img">
                    <img src="assets/img/enroll-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Enroll Area -->
