@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var homepage = Model.AncestorOrSelf<ContentModels.Home>();
    var whoarewe = homepage.Children<ContentModels.WhoAreWe>().FirstOrDefault();

}

<!-- Start Who Are We Area -->
<section class="education-area ebeef5-bg-color">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-lg-6">
                <div class="education-img">
                    <img src="assets/img/education-img.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="education-content ptb-100">
                    <span class="top-title">@whoarewe.SmallTitle</span>
                    <h2>@whoarewe.MainTitle</h2>
                    <p>@whoarewe.Description</p>

                    <a href="/about" class="default-btn">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Who Are We Area -->
