<div ng-controller="Umbraco.Members.BulkMemberActivities as vm">

    <div class="umb-editor-header">
        <div class="flex items-center" style="height:100%">
            <h1 class="umb-panel-header-name">
                Bulk Member Activities
            </h1>
        </div>
    </div>

    <div class="umb-editor-container">
        <div class="umb-pane">
            <div class="row-fluid">
                <div class="umb-editor-sub-header" ng-if="getSelectedCount() == 0">
                    <button type="button" class="btn btn-outline umb-outline">
                        Actions
                    </button>
                    <ng-form class="umb-mini-search" novalidate="">
                        <i class="icon icon-search" aria-hidden="true"></i>
                        <input type="text" class="form-control search-input" label="Type to search..." placeholder="Type to search..." ng-model="vm.filterText" aria-invalid="false">
                    </ng-form>
                </div>
                <div class="umb-editor-sub-header --state-selection" ng-if="getSelectedCount() > 0">
                    <div class="umb-editor-sub-header__content-left">
                        <div class="umb-editor-sub-header__section umb-button">
                            <button class="btn umb-button__button btn-white umb-button-- umb-outline" ng-click="clearSelection()" ng-disabled="vm.isLoading">
                                Clear selection
                            </button>
                        </div>
                        <div class="umb-editor-sub-header__section">
                            <strong>{{getSelectedCount()}} of {{vm.members.length}} selected</strong>
                        </div>
                    </div>
                    <div class="umb-editor-sub-header__content-left" ng-show="vm.isLoading">
                        <ul class="umb-load-indicator animated -half-second" style="filter: invert(1)">
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                            <li class="umb-load-indicator__bubble"></li>
                        </ul>
                    </div>
                    <div class="umb-editor-sub-header__content-right">
                        <div class="umb-editor-sub-header__section umb-button">
                            <button class="btn umb-button__button btn-white umb-button-- umb-outline" ng-click="deactivateMembers()" ng-disabled="vm.isLoading">
                                <i class="umb-table-body__icon umb-table-body__fileicon icon-block"></i>
                                Deactivate
                            </button>
                            <button class="btn umb-button__button btn-white umb-button-- umb-outline" ng-click="activateMembers()" ng-disabled="vm.isLoading">
                                <i class="umb-table-body__icon umb-table-body__fileicon icon-check"></i>
                                Activate
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="umb-load-indicator animated -half-second" ng-show="vm.isLoading">
                    <li class="umb-load-indicator__bubble"></li>
                    <li class="umb-load-indicator__bubble"></li>
                    <li class="umb-load-indicator__bubble"></li>
                </ul>
                <div class="umb-table">
                    <div class="umb-table-head">
                        <div class="umb-table-row">
                            <div class="umb-table-cell">
                                <button type="button" class="umb-table__action" ng-click="selectAll()"> <i class="icon-check umb-checkmark umb-checkmark--xs umb-outline" ng-class="{'umb-checkmark--checked': getSelectedCount() == vm.members.length}"></i> </button>
                            </div>
                            <div class="umb-table-cell umb-table__name">
                                <span class="umb-table-head__link">Name</span>
                            </div>
                            <div class="umb-table-cell">
                                <span class="umb-table-head__link">Email</span>
                            </div>
                            <div class="umb-table-cell">
                                <span class="umb-table-head__link">Status</span>
                            </div>
                        </div>
                    </div>
                    <div class="umb-table-body">
                        <div class="umb-table-row -selectable" style="outline:none" ng-class="{'-selected' : member.isSelected}" dir-paginate="member in vm.members | filter:vm.filterText | itemsPerPage: 10" current-page="vm.currentPage" ng-click="toggleSelection(member)">
                            <div class="umb-table-cell">
                                <i class="umb-table-body__icon umb-table-body__fileicon icon-user" ng-if="!member.isSelected"></i>
                                <i class="umb-table-body__icon umb-table-body__checkicon icon-check" ng-if="member.isSelected"></i>
                            </div>
                            <div class="umb-table-cell umb-table__name"> <span>{{member.Name}}</span> </div>
                            <div class="umb-table-cell"> <span>{{member.Email}}</span> </div>
                            <div class="umb-table-cell">
                                <span class="badge badge-inverse" ng-if="member.IsApproved">Activated</span>
                                <span class="badge badge-warning" ng-if="!member.IsApproved">Not Activated</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="umb-pagination pagination">
                        <dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

